<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
	<!-- 给实体Bean一个别名，在别的地方可以直接使用别名代表这个类-->
		<typeAlias type="com.newtouch.entitys.Menu" alias="Menu"/>
		<typeAlias type="com.newtouch.entitys.Permission" alias="Permission"/>
		<typeAlias type="com.newtouch.entitys.User" alias="User"/>
		<typeAlias type="com.newtouch.entitys.Role" alias="Role"/>
	</typeAliases>
	
	
	<!-- 整合spring后，这个任务有spring管理，在spring.xml中配置
	 <mappers>
	通过resource方法一次加载一个映射文件
	<mapper resource="com/newtouch/mapper/Menu.xml"/>
	</mappers> -->
</configuration>